{% extends 'base.html' %} <!-- base.html from 'user_accounts' app -->
{% block head %} 
    <title>"Reddit"</title>
    <style>
		#vote-div{
		    background-color: #f0f0f0;
		}
		
		
		.votes * {
            background-color: #e1e1e1;
            height: 31px;
            width: 25px;
            padding: 9px 0 0 7px;
            font-size: 13px;
        }
		
		.upvote {
            border-radius: 5px 5px 0 0;
        }

        .downvote {
            border-radius: 0 0 5px 5px;
        }
		
		.rank {
            background-color: #c0c0c0;
            height: 60px;
            width: 36px;
        }
		
		#post-panel{
			background-color: white;
		}
		
		#entry-div:hover {
			background-color: #fcfcfc;
		}
		
		#entry{
			border-left: 3px solid #e1e1e1;
			-moz-transition: all 0.2s;
			-webkit-transition: all 0.2s;
			transition: all 1s;
		}
		
		#entry:hover {
			border-left: 3px solid #9b9b9b;
		}
		
        .post {
            word-wrap: break-word;
        }

		.entry {
			border-left: 3px solid #e1e1e1;
		}

        #num_comments_pane {
            margin: 10px 10px 0 0;
            border-bottom: 1px solid #e4e4e4;
            padding-bottom: 10px;
        }

        #sort_by_pane {
            margin-right: 10px;
            border-top: 1px solid #e4e4e4;
            padding-top: 10px;
            font-size: 12px;
            font-weight: 400;
        }

        #comment_submit_area {
            margin: 20px 0 0 0;
            height: 30vh;
            width: 100%;
            padding: 20px 0 0 20px;
            border-radius: 5px 5px 5px 5px;
            background-color: white;
            border: 1px solid #ddd !important;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
        }

        .submit_comment_form {
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
            height: 100px;
            width:500px;
            border: 2px solid #ddd !important;
            border-radius: 0;
            background: #fff;
        }

        #submit_comment {
            margin: 10px 0 0 0;
			font-family: Verdana;
            font-size: .825em;
            text-decoration: none;
            font-weight: 700;
            padding: .35em 1em;
            background-color: #eaeef1;
            background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
            border-radius: 3px;
            color: rgba(0,0,0,.6);
            text-shadow: 0 1px 1px rgba(255,255,255,.7);
            box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
        }

        #submit_comment:hover {
            background-color: #fff;
        }

        #submit_comment:active, #submit_comment:focus {
            background-color: #d0d3d6;
	        background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
	        box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
        }
		
		#options-panel{
			background-color: #f0f0f0;
			height:50%;
			box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
		    padding: 0 0 0 0 !important;
		}
		
		#submit-button{
			height:15%;
			padding: 7px 0 0 15px;
			display: block;
			border-top: 1px solid #f9f9f9;
			border-bottom: 1px solid #ddd;
			border-right: 1px solid #ddd;
			letter-spacing: 0;
			font-size: 18px;
			color: #777;
			transition: 0;
		}
		
		#submit-button:hover > *{
			color: #9dd9f9;
		}
		
		#submit-button-button{
			color: #4c4c4c;
			font-family: Verdana;
		}
    </style>

    <script type="text/javascript" src="/static/home/vote_buttons.js"></script>

{% endblock %}

{% block body %}
    <div class = "container">
		<div class="row">
			<div id = "post-panel" class="col-md-9">
				<div id = "post" class="row container">
					<div id = "vote-div" class="col-auto row pt-3">
						<div class = "rank .col-6 .col-sm-2 pt-3 rounded text-white text-center">
							{{ post.points }}
						</div>
					
						<div class="votes .col-6 .col-sm-10 ml-2 d-inline-flex flex-column">
							<i onclick="upvote(this.parentNode, {{ post.post_id }}, {{cur_user}})" class="upvote fa fa-arrow-up mx-auto" aria-hidden="true"></i>
							<i onclick="downvote(this.parentNode, {{ post.post_id }}, {{cur_user}})" class="downvote fa fa-arrow-down mx-auto" aria-hidden="true"></i>
							<script>update_vote(document.currentScript.parentNode, {{vote}} )</script>
						</div>
						
						<div id = "spacer" class = "pl-3"></div>
					</div>

					<div id = "entry-div" class="col ml-3 pl-3 pt-3">
						<div id = "entry" class ="pl-3">
							<h3 style="font-size:1.5em" class="text-primary mb-0"> <a href="{% url 'home:post' post_id=post.post_id %}">{{post.title}}</a> </h3>
							<p class="mb-0" style="font-size:0.8em"> submitted by: <a href="{% url 'user_accounts:profile_with_pk' pk=post.user.pk %}">{{ post.user.username }}</a>   at {{post.created}} </p>
						
							<div class="rounded border border-info bg-light mt-2">
								<div class=" post pb-1 pl-2">{{ post.post_content }}<br /></div>
							</div>
							<p class = "mt-1" style="font-size:0.8em"> 0 comments</p>
						</div>
						

					</div>
				</div>

				<div id="num_comments_pane">all 106 comments</div>
				<div id="sort_by_pane">sorted by: new(suggested)</div>
				<div id="comment_submit_area">
					<form method="post">
						{% csrf_token %}
						{{ submit_comment_form.text }} </br>
						<input type="submit" id="submit_comment" value="Submit">
					</form>
				</div>

				<div id="comments_area">
					{% for comment in comments %}
						<div id = "comment">{{comment.comment_text}}</div>
					{% endfor %}
				</div>
		
			</div>
			
			<div id = "options-panel" class="col-md-3">
				<div id = "submit-button">
					<div class="fas fa-pen"></div>
					<a class = "ml-2" id = "submit-button-button" href="{% url 'home:create_post' %}">submit a post</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

