<html>
	<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <title>Login</title>
        <!-- {% load static% } -->
        <!--<link rel = "stylesheet" href = "{ static 'user_accounts/style.css' }" type = "text/css"-->
    </head>
    <body>
        <div class="container">
            <h1>Login plz >:(</h1>
            <button class="btn btn-default" type="button" name="button">CLICK plz</button>
            <h1>Hello {{ name }}</h1>
        </div>
        
    </body>
</html>
